body {
	font-size: .9em;
    font-family: 'Roboto', sans-serif;
}

.content {
	padding-top: 2em;
}

.content-container {
	padding-top: 2em;
}

.navbar {
	padding: 0 .5rem 0 .5rem;
	border-bottom: .1em solid #e5e5e5;
}

@media (max-width: 768px) {
	#info-card {
		display: none;
	}

	nav {
		display: block;
	}
}

